In [1]:
import pandas as pd
from rapidfuzz import process, fuzz
df = pd.read_csv("words.csv")
df

                    WORDS    a    b    c
0             10-point aa  862  210  933
1                10th ZZZ  517  153  854
2            11-point zZt  157  525  362
3             12-point ZZ  530  401   54
4       16-point zyzzyvas  771  535  965
...                   ...  ...  ...  ...
466540  zyzzyvas 16-point  455  845  852
466541        ZZ 12-point  455  289  704
466542       zZt 11-point   62  141  359
466543           ZZZ 10th  675  781    3
466544      TRUE 10-point  937  957  595

[466545 rows x 4 columns]

In [7]:
from rapidfuzz.string_metric import levenshtein, normalized_levenshtein
from rapidfuzz import process, fuzz
choices = ["jovie dela cruz dumanlag","DAISY DEMAOG UMOT", "DHOY ANTONIO BIO","ALRA DAVE ESPARTERO CARIM","vic uy abas"]
res1 = process.extractOne("MARGARITA UY LEONEN", choices, scorer=fuzz.WRatio, score_cutoff=10)
res1

('vic uy abas', 85.5, 4)

In [26]:
row_id = res[2]
perc = res[1]
res_row = df.iloc[[row_id]]
name = res_row["WORDS"].to_numpy()[0]
a = res_row["a"].to_numpy()[0]
b = res_row["b"].to_numpy()[0]
c = res_row["c"].to_numpy()[0]

perc
# n[0][0]

41.666666666666664

In [17]:
from rapidfuzz import process, fuzz
# choices = ["Atlanta Falcons", "New York Jets", "New York Giants", "Dallas Cowboys"]
# process.extract("new york jets", choices, scorer=fuzz.WRatio, limit=2)
a = "MARGARITA UY LEONEN"
b = "vic uy abas"
fuzz.ratio(a,b)
fuzz.token_set_ratio(a, b)
fuzz.extractOne("abcd", ["abce"], scorer=normalized_levenshtein)

AttributeError: module 'rapidfuzz.fuzz' has no attribute 'extractOne'

In [111]:
'2434234'.int()

AttributeError: 'str' object has no attribute 'int'