pip install mysql-connector-python

In [24]:
import mysql.connector
import pandas as pd 
my_conn = mysql.connector.connect(
      host="172.26.134.173",
      user="root",
      passwd="4891021408271209",
      database="mysql"
    )
####### end of connection ####
my_data = pd.read_sql("SELECT * FROM help_keyword",my_conn)
my_data

C:\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     help_keyword_id                  name
0                  0                  JOIN
1                  1                  HOST
2                  2                REPEAT
3                  3          SERIALIZABLE
4                  4               REPLACE
..               ...                   ...
470              470          CATALOG_NAME
471              471                MASTER
472              472                 FIXED
473              473  MULTIPOLYGONFROMTEXT
474              474            ROW_FORMAT

[475 rows x 2 columns]

In [23]:
import psycopg2
import warnings
import pandas as pd


def db_query(sql_query: str, db_conn: psycopg2.extensions.connection) -> pd.DataFrame:
    """Execute SQL Query and get Dataframe with pandas"""
    with warnings.catch_warnings():
        # ignore warning for non-SQLAlchemy Connecton
        # see github.com/pandas-dev/pandas/issues/45660
        warnings.simplefilter('ignore', UserWarning)
        # create pandas DataFrame from database query
        df = pd.read_sql_query(sql_query, db_conn)
    return df

db_conn= psycopg2.connect(
        host="172.26.134.173",
        port=3306 ,
        dbname="mysql",
        user="root",
        password="4891021408271209"
)

df_test = db_query("SELECT * FROM user LIMIT 1", db_conn)

OperationalError: connection to server at "172.26.134.173", port 3306 failed: received invalid response to SSL negotiation: Y