In [5]:
import time
print(f"nm_result_{time.strftime('%Y%m%d-%H%M%S')}.xlsx")

nm_result_20220419-170634.xlsx

fuzzy-match:   of   78.23%  completed in 56.49s

'1d 7h 10m 35s'

IS_MCCT

,PROVINCE,MUNICIPALITY,BARANGAY,HOUSEHOLD_ID,ENTRY_ID,LAST_NAME,FIRST_NAME,MID_NAME,EXT_NAME,BIRTHDAY,REGISTERED,CLIENT_STATUS,MEMBER_STATUS
0,COTABATO (NORTH COTABATO),ALAMADA,MIRASOL,160210003-00124729,553417,FONTANILLA,LOUIGRACE,VALDEZ,NaN,33115,Yes,Active,Active
1,COTABATO (NORTH COTABATO),ALAMADA,MIRASOL,160210003-00124729,553418,MONTEROLA,DENNILOU,LABANETE,NaN,32953,Yes,Active,Active
2,COTABATO (NORTH COTABATO),ALAMADA,MIRASOL,160210003-00124729,553419,FONTANILLA,MAUI ELOICE,VALDEZ,NaN,40460,Yes,Active,Active
3,COTABATO (NORTH COTABATO),ALAMADA,MIRASOL,160210003-00124729,553420,MONTEROLA,MAICO DENNIL,FONTANILLA,NaN,41742,Yes,Active,Active

   PROVINCE  MUNICIPALITY
0       NaN           NaN
1       NaN           NaN
2       NaN           NaN
3       NaN           NaN